<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="LoginStyles.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <form id="login">
            <fieldset>
                <legend class="float-left">Members Login:</legend>
                <input type="text" id="name" class="float-left" name="name" placeholder="Your name" />
                <input type="text" id="emailID" class="float-left" name="emailID" placeholder="Email Id" />
                <input type="submit" value="GO" class="float-left red-shadow" />
            </fieldset>
        </form>
    </header>
    <section>
        <h1>About total management?</h1>
        <p>
            Total management is free, tableless, W3C-compliant web design layout by Template World. This template has been tested and proven compatible with major browser enviroments and operating systems. You are free to modify the design to suit your tastes in any way you like.<br />
            We only ask you to not remove <em>"Design by Template World"</em> and the link http://templateworld.com from the footer of the template.<br />
            If you are interested in seeing more of our free web template designs feel free to visit our website, Template World. We intend to add at least 25 new free templates in the coming month.
        </p>
    </section>
</body>
</html>
