<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="MusicCatalogueStyles.css" />
    <title>Music Catalogue</title>
</head>
<body>
    <section id="catalogue">
        <h1>Music Categories</h1>
        <div class="catalogue-entry">
            <img src="images/entry-1.png" alt="entry-1" />
            <p>Even more websites about website templates on <strong>Just Web Templates</strong></p>
            <div class="entry-controls">
                <input type="button" class="listenButton" value="Listen" />
                <input type="button" class="addButton" value="Add" />
            </div>
        </div>
        <div class="catalogue-entry">
            <img src="images/entry-2.png" alt="entry-2" />
            <p>If you're looking for beautiful and professionally made templates you can find them at <strong>Template Beauty</strong></p>
            <div class="entry-controls">
                <input type="button" class="listenButton" value="Listen" />
                <input type="button" class="addButton" value="Add" />
            </div>
        </div>
        <div class="catalogue-entry">
            <img src="images/entry-3.png" alt="entry-3" />
            <p>You can remove any link to our website from this template you're free to use the template without linking back to us</p>
            <div class="entry-controls">
                <input type="button" class="listenButton" value="Listen" />
                <input type="button" class="addButton" value="Add" />
            </div>
        </div>
    </section>
</body>
</html>
