body {
    font-family:Calibri;
}

/* For all ordered and unordered lists that have a class called "NoSpacingLeft" */
.NoSpacingLeft {
    position: relative;
    margin-left: -20px;
}

#UpperRoman {
    list-style: upper-roman;
}

#LowerLatin {
    list-style: lower-latin;
}

#Decimal {
    list-style: decimal;
}

#Circle {
    list-style: circle;
}

#Square {
    list-style: square;
}

#Disc {
    list-style: disc;
}
