<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="ExpandableListsStyles.css" />
    <title>Expandable lists</title>
</head>
<body>
    <ul>
        <li>
            <span class="list-item-title">List item</span>
            <ul class="sublist">
                <li>
                    <span class="list-item-title">Sublist item</span>
                    <ul class="sublist">
                        <li>
                            <span class="list-item-title">Sublist item</span>
                            <ul class="sublist">
                                <li>
                                    <span class="list-item-title">Sublist item</span>
                                    <ul class="sublist">
                                        <li>
                                            <span class="list-item-title">Sublist item</span>
                                            <ul class="sublist">
                                                <li>
                                                    <span class="list-item-title">Sublist item</span>
                                                </li>
                                                <li>
                                                    <span class="list-item-title">Sublist item</span>
                                                </li>
                                                <li>
                                                    <span class="list-item-title">Sublist item</span>
                                                </li>
                                                <li>
                                                    <span class="list-item-title">Sublist item</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="list-item-title">Sublist item</span>
                                        </li>
                                        <li>
                                            <span class="list-item-title">Sublist item</span>
                                        </li>
                                        <li>
                                            <span class="list-item-title">Sublist item</span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="list-item-title">Sublist item</span>
                                </li>
                                <li>
                                    <span class="list-item-title">Sublist item</span>
                                </li>
                                <li>
                                    <span class="list-item-title">Sublist item</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
            </ul>
        </li>
        <li>
            <span class="list-item-title">List item</span>
            <ul class="sublist">
                <li>
                    <span class="list-item-title">Sublist item</span>
                    <ul class="sublist">
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                        <li>
                            <span class="list-item-title">Sublist item</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
            </ul>
        </li>
        <li>
            <span class="list-item-title">List item</span>
        </li>
        <li>
            <span class="list-item-title">List item</span>
            <ul class="sublist">
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
                <li>
                    <span class="list-item-title">Sublist item</span>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
