<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="WidgetStyles.css" />
    <title>Reports Widget</title>
</head>
<body>
    <section id="widget">
        <nav id="category">
            <ul>
                <li class="title selected">
                    <a href="#">
                        <div class="article-title">Новините</div>
                    </a>
                </li>
                <li class="title">
                    <a href="#">
                        <div class="article-title">Спорт</div>
                    </a>
                </li>
                <li class="title">
                    <a href="#">
                        <div class="article-title">Емисии</div>
                    </a>
                </li>
                <li class="title">
                    <a href="#">
                        <div class="article-title">Любопитно</div>
                    </a>
                </li>
                <li class="title">
                    <a href="#">
                        <div class="article-title">Аз, репортерът</div>
                    </a>
                </li>
                <li class="title">
                    <a href="#">
                        <div class="article-title">Тази сутрин</div>
                    </a>
                </li>
            </ul>
        </nav>
        <section id="content-body">
            <ul id="category-items">
                <li>
                    <a href="#">
                        <div class="article-title">
                            Интернет новини - 13.07.2010 г.
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="article-title">
                            Проливни дъждове в Дания, Китай и Индия, необичайни горещини в Иран
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="article-title">
                            Над 200 хектара горят на територията на бивш военен полигон в Германия
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="article-title">
                            23-ма ранени при сблъсък на два пърнически влака в Полша
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="article-title">
                            Диференцират от догодина минималния осигурителен доход за самоосигуряващи се
                        </div>
                    </a>
                </li>
            </ul>
            <img src="images/thumbnail.png" alt="thumbnail" />
        </section>
    </section>
</body>
</html>
